{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-5 offset-sm-3" style="background-color: white; border-radius: 10px; margin-top: 20px;">
            <h4 class="text-center mb-4">Change Password</h4>
            <form style="padding: 30px;" method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label"> {{ form.current_password.label }}</label>
                    {{ form.current_password }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label"> {{ form.new_password.label }}</label>
                    {{ form.new_password }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label"> {{ form.confirm_new_password.label }}</label>
                    {{ form.confirm_new_password }}
                </div>
                <div class="d-grid">
                    {{ form.change_password(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}